@use './variables' as v;

@mixin phone{
    @media (min-width:v.$phone) {
        @content;
    }

}
@mixin tablet{
    @media (min-width:v.$tablet) {
        @content;
    }

}
@mixin desktop{
    @media (min-width:v.$desktop) {
        @content;
    }

}
@mixin desktopXl{
    @media (min-width:v.$desktopXl) {
        @content;
    }

}

@mixin grid($col,$spacing){

    display: grid;
            grid-template-columns: repeat($col, 1fr);
            gap: $spacing;
}

@mixin reset_list{
    margin: 0;
    padding: 0;
    list-style: none;

}